body{
    /* background-color: gray; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: -10px;
}

h1{
    text-align: center;
    background-color: red;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    margin: 0px;
    border: 10px;
    border-radius: 10px;
}

p{
    background-color: gray;
    padding: 10px;
    margin: 0px;
}

a{
    display: inline-block;
    text-align: center;
    padding: 5px 11%;
    color: white;
    text-decoration: none;
}