/* CSS defaults */
*{ /*Universal selecting syntax */
    font-family: cursive;
    margin: 0;
    padding: 0;
}



/* Header styles */
header div{
    text-align: center;
    background-color: red;
    padding: 15px;
}

header div h1.main_heading{
    color: white;
    border: solid white 4px;
    border-radius: 20px;
    padding: 10px 15px;
    /* margin-top: 10px; */
    display: inline-block;
    font-size: 30px;
}

header div.nav_bar{
    background-color: grey;
}

header div a.navbar_links{
    color: white;
    margin: 0px 120px;
    text-decoration: none;
}

header div a.navbar_links:hover{
    color: red;
    text-decoration: underline;
}



/* Main Styles */
main img{
    width: 100%;
    border-bottom: solid red 10px;
}

main div{
    text-align: center;
    background-color: white;
}

main div.main_content h1{
    color: red;
    
}

main div.main_content p{
    text-align: justify;
    line-height: 35px;
    margin: 0% 8%;
    font-size: larger;
}

/* Friends html Styling */
main div.Mario_friends_description img{
    width: 20%;
    border: 0px;

}

main div p{
    text-align: center;
}

main div.Mario_friends_description{
    background-color: rgba(128, 128, 128, 0.212);
    border: solid rgba(128, 128, 128, 0)  2px;
    border-radius: 25px;
    margin: 0px 80px;
    padding: 15px;
    font-size: larger;
}

main div h4{
    color: red;
    text-align: center;
    font-size: larger;
}

main{
    text-align: center;
    /* margin: 0px 100px 30px 110px; */
}

main div h1.Gallery_Header{
    font-size: 50px;
}

main div.Gallery img{
    align-content: center;
    width: 45%;
    margin: 10px;
}

main img.Contact_Image{
    border: 0;
    margin-bottom: -5px;
}

main div.Login_Form{
    background-image: url(Images/LoginBanner.png);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 50px;
}

main div.Login_Form input{
    padding: 7px;
    font-family: cursive;
}


/* footer Style */
footer{
    background-color: rgba(128, 128, 128, 0.336);
    text-align: center;
    padding: 20px;
    color: rgba(0, 0, 0, 0.397);
}