/* CSS defaults */
*{ /*Universal selecting syntax */
    font-family: cursive;
    margin: 0;
    padding: 0;
}

div{
    text-align: center;
    background-color: red;
    padding: 15px;
}

/* Header styles */
header div h1.main_heading{
    color: white;
    border: solid white 4px;
    border-radius: 20px;
    padding: 6px;
    /* margin-top: 10px; */
    display: inline-block;
}

header div.nav_bar{
    background-color: grey;
}

header div a.navbar_links{
    color: white;
    margin: 0px 120px;
    text-decoration: none;
}